<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
        <style>
            table,th,td{
                border: 1px solid black;
                border-collapse: collapse;
            }
            html,body{
                font-size:12px;
                font-family: monospace
            }
        </style>
    </head>
    <body>
        <div id="content">
            <h2>Login</h2>
            <div>
                <input v-model="username" placeholder="Username"></input>
                <input v-model="game" placeholder="Game ID"></input>
            </div>
            <button v-on:click="createGame">Create Game</button>
            <button v-on:click="joinGame">Join Game</button>
            <button v-on:click="startGame">Start Game</button>
            <button v-on:click="update">Update</button>
            <hr>
            <h2>Info</h2>
            <h3>Game Info</h3>
            <div>Current Player: {{all_data.current_player}}</div>
            <div>Game: {{all_data.game_id}}</div>
            <div>Deck Size: {{all_data.deck_count}}</div>
            <div>Discard Size: {{all_data.discard_count}}</div>
            <div>Stage: {{all_data.stage}}</div>
            <div>Playthrough: {{all_data.playthrough}}</div>
            <div>Status: {{all_data.status}}</div>
            <div v-if="all_data.market != undefined">
                Market: 
                <table>
                    <tr>
                        <th>Location</th>
                        <th>Name</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td v-if="all_data.market[0]">{{all_data.market[0].name}}</td>
                        <td v-if="!all_data.market[0]">Empty</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td v-if="all_data.market[1]">{{all_data.market[1].name}}</td>
                        <td v-if="!all_data.market[1]">Empty</td>
                    </tr>
                    -->
                </table>
            </div>
            <br>
            <h3>Player Info</h3>
            <div v-if="all_data.player_info != undefined">
                
                <div>Coins: {{all_data.player_info.coins}}</div>
                <div>Host: {{all_data.player_info.is_host}}</div>
                <div>
                    Hand:
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Count</th>
                            <th>Values</th>
                        </tr>
                        <tr v-for="card in all_data.player_info.hand">
                            <td>{{card.name}}</td>
                            <td>{{card.count}}</td>
                            <td>{{card.values}}</td>
                        </tr>
                    </table>
                </div>
                <div>
                    Field:
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Count</th>
                            <th>Enabled</th>
                        </tr>
                        <tr v-for="field in all_data.player_info.fields">
                            <td>{{field.name}}</td>
                            <td>{{field.count}}</td>
                            <td>{{field.enabled}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <h3>Other Players</h3>
            <div v-if="all_data.players != undefined">
                <div>
                    Players:
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Hand Count</th>
                            <th>Is Host</th>
                            <th>Coins</th>
                            <template v-for="index in [1,2,3]">
                                <th>Field {{index}} Card</th>
                                <th>Field {{index}} Count</th>
                                <th>Field {{index}} Enabled</th>
                            </template>
                        </tr>
                        <tr v-for="player in all_data.players">
                            <td>{{player.name}}</td>
                            <td>{{player.hand_count}}</td>
                            <td>{{player.is_host}}</td>
                            <td>{{player.coins}}</td>
                            <template v-for="field in player.fields">
                                <td>{{field.name}}</td>
                                <td>{{field.count}}</td>
                                <td>{{field.enabled}}</td>
                            </template>
                        </tr>
                    </table>
                </div>
            </div>
            <hr>
            <h2>Actions</h2>
            <div>
                <b>Play card from hand: </b>
                <button v-on:click="playCardFromHand(0)">Play on Field 1</button>
                <button v-on:click="playCardFromHand(1)">Play on Field 2</button>
                <button v-on:click="playCardFromHand(2)">Play on Field 3</button>
            </div>
            <div><b>Play card from market</b> [market_index] [field_index]</div>
            <div>
                <b>Draw cards to hand:</b>
                <button v-on:click="drawCardsToHand()">Draw</button>
            </div>
            <div>
                <b>Draw cards to market:</b>
                <button v-on:click="drawCardsToMarket()">Draw</button>
            </div>
        </div>
        <script>
            content = new Vue({
                el: "#content",
                data: {
                    base_url: "http://localhost:8080",
                    username:"",
                    game:"",
                    deck_size:"",
                    discard_size:"",
                    lastresponse: "",
                    all_data:{},
                    player_info:{}
                },
                methods:{
                    createGame: function(){
                        this.$http.post(
                            this.base_url + '/create', 
                            {"name":this.username}
                        )
                        .then(response => {
                            this.game = response.body.game;
                            this.update()
                        }, response => {
                            alert(JSON.stringify(response.body))
                        });
                    },
                    joinGame: function(){
                        this.$http.post(
                            this.base_url + '/login', 
                            {"name":this.username, "game":this.game}
                        )
                        .then(response => {
                            this.update()
                        }, response => {
                            alert(JSON.stringify(response.body))
                        });
                    },
                    startGame: function(){
                        this.$http.post(
                            this.base_url + '/game/' + this.game + '/start'
                        )
                        .then(response => {
                            this.update()
                        }, response => {
                            alert(JSON.stringify(response.body))
                        });
                    },
                    playCardFromHand: function(field){
                        this.$http.post(
                            this.base_url + '/game/' + this.game + '/play/hand',
                            {"field_index": field}
                        )
                        .then(response => {
                            this.update()
                        }, response => {
                            alert(JSON.stringify(response.body))
                        });
                    },
                    update: function(){
                        this.$http.get(
                            this.base_url + '/game/' + this.game
                        )
                        .then(response => {
                            this.all_data = response.body;
                            this.player_info = this.all_data.player_info;
                        }, response => {
                            alert(JSON.stringify(response.body))
                        });
                    }
                }
            })
        </script>
    </body>
</html>