<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
        <link rel="stylesheet" href="css/tbg.css">
    </head>
    <body>
        <div id="content">

            <div>
                <h1>ThatBeanGame</h1>
                <input v-model="username" type="text" placeholder="Username"></input>
                <input v-model="game" type="text" placeholder="Game ID (Optional)"></input>
                <button v-on:click="createGame">Create Game</button><button v-on:click="joinGame">Join Game</button>
            </div>
            <button v-on:click="startGame">Start Game</button>
            <button v-on:click="update">Update</button>
            <hr>
            <h2>Info</h2>
            <h3>Game Info</h3>
            <div>Current Player: {{all_data.current_player}}</div>
            <div>Game: {{all_data.game_id}}</div>
            <div>Deck Size: {{all_data.deck_count}}</div>
            <div>Discard Size: {{all_data.discard_count}}</div>
            <div>Stage: {{all_data.stage}}</div>
            <div>Playthrough: {{all_data.playthrough}}</div>
            <div>Status: {{all_data.status}}</div>
            <div>Trades: {{all_data.trades}}</div>
            <div v-if="all_data.market != undefined">
                Market: 
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Play to Field 1</th>
                        <th>Play to Field 2</th>
                        <th>Play to Field 3</th>
                    </tr>
                    
                    <tr v-for="card in all_data.market">
                        
                        <td>{{card.name}}</td>
                        
                        <td>
                            <button v-on:click="playCardFromMarket(card.id, 0)">Play</button>
                        </td>
                        <td>
                            <button v-on:click="playCardFromMarket(card.id, 1)">Play</button>
                        </td>
                        <td>
                            <button v-on:click="playCardFromMarket(card.id, 2)">Play</button>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <h3>Player Info</h3>
            <div v-if="all_data.player_info != undefined">
                
                <div>Coins: {{all_data.player_info.coins}}</div>
                <div>Host: {{all_data.player_info.is_host}}</div>
                {{all_data.player_info.hand}}
                {{all_data.player_info.pending}}
                <div>
                    Hand:
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Count</th>
                            <th>Values</th>
                        </tr>
                        <tr v-for="card in all_data.player_info.hand">
                            <td>{{card.name}}</td>
                            <td>{{card.count}}</td>
                            <td>{{card.values}}</td>
                        </tr>
                    </table>
                </div>
                <div>
                    Field:
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Count</th>
                            <th>Enabled</th>
                        </tr>
                        <tr v-for="field in all_data.player_info.fields">
                            <td>{{field.name}}</td>
                            <td>{{field.count}}</td>
                            <td>{{field.enabled}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <h3>Other Players</h3>
            <div v-if="all_data.players != undefined">
                <div>
                    Players:
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Hand Count</th>
                            <th>Is Host</th>
                            <th>Coins</th>
                            <template v-for="index in [1,2,3]">
                                <th>Field {{index}} Card</th>
                                <th>Field {{index}} Count</th>
                                <th>Field {{index}} Enabled</th>
                            </template>
                        </tr>
                        <tr v-for="player in all_data.players">
                            <td>{{player.name}}</td>
                            <td>{{player.hand_count}}</td>
                            <td>{{player.is_host}}</td>
                            <td>{{player.coins}}</td>
                            <template v-for="field in player.fields">
                                <td>{{field.name}}</td>
                                <td>{{field.count}}</td>
                                <td>{{field.enabled}}</td>
                            </template>
                        </tr>
                    </table>
                </div>
            </div>
            <hr>
            <h2>Actions</h2>
            <div>
                <b>Play card from hand: </b>
                <button v-on:click="playCardFromHand(0)">Play on Field 1</button>
                <button v-on:click="playCardFromHand(1)">Play on Field 2</button>
                <button v-on:click="playCardFromHand(2)">Play on Field 3</button>
            </div>
            <div>
                <b>Draw cards to hand:</b>
                <button v-on:click="drawCardsToHand()">Draw</button>
            </div>
            <div>
                <b>Draw cards to market:</b>
                <button v-on:click="drawCardsToMarket()">Draw</button>
            </div>-->
        </div>
        <script src="js/tbg.js"></script>
    </body>
</html>